* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    margin: 15px 0;
    border: 5px solid black;
    background-image: url("/static/css/img/background.png");
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.Aligner {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

html {
    /* color: #555555;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    background-color: #555555;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("img/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh; */
}

header {
    /* display: block; */
}

h1,
h2 {
    margin: 10px 0;
    color: #fff;
    font-size: 200%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing: 3px;
    text-align: center;
}

h1 {
    
    text-shadow: #000 0 0 4px;
}

/* h1:after {
    content: "";
    display: block;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.64);
    width: 35%;
    margin: 15px auto 0 auto;
} */

h2 {
    /* color: rgba(255, 255, 255, 0.4); */
    color: #000;
    font-size: 100%;
    font-weight: 300;
    text-shadow: rgb(13, 136, 2) 0 0 3px;
}

.main-title {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
}

p {
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 90%;
    text-align: justify;
}
